body {
  background-color: #f8f9fa;
  color: #333;
}

.navbar {
  background-color: #007bff;
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.signup-btn {
  background-color: grey;
  border-color: #007bff;
  color: #007bff;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}

.footer {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.topBtn {
  background-color: white;
  border-color: white;
  color: #293241;
  margin-left: 8px;
}

.topBtn:hover {
  background-color: #ffc107;
  color: white;
  border-color: #3d5a80;
}

@media (max-width: 767px) {
  .col-md-7 img {
    max-width: 100%;
    height: auto;
  }
  .col-md-5 {
    text-align: center;
  }
}
